<h3 id="sql-injection-detection">Attack Queries</h3>
<p class="readableText">Once the injectable parameters and DBMS type are identified we need to attack the database.  Below you will find various section to aid you in escalating privileges, exfiltrating data, and more.</p>
<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/informationGathering')">Information Gathering</a></h4>
<p id="informationGathering" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/dataTargeting')">Data Targeting</a></h4>
<p id="dataTargeting" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/privilegeEscalation')">Privilege Escalation</a></h4>
<p id="privilegeEscalation" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/executingOSCommands')">Executing OS Commands</a></h4>
<p id="executingOSCommands" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/readingAndWritingFiles')">Reading and Writing Files</a></h4>
<p id="readingAndWritingFiles" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/lateralMovement')">Lateral Movement</a></h4>
<p id="lateralMovement" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/attackQueries/dataExfiltration')">Data Exfiltration</a></h4>
<p id="dataExfiltration" class="injectionDescription"></p>
