<h3 id="sql-injection-detection">Injection Techniques</h3>
<p class="readableText">Below are a couple techniques to aid you in exploiting various SQL injections.</p>
<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/injectionTechniques/conditionalStatements')">Conditional Statements</a></h4>
<p id="conditionalStatements" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/injectionTechniques/injectionPlacement')">Injection Placement</a></h4>
<p id="injectionPlacement" class="injectionDescription"></p>

<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/injectionTechniques/obfuscation')">Injection Obfuscation</a></h4>
<p id="injectionObfuscation" class="injectionDescription"></p>
