<h3 id="sql-injection-detection">Injection Types</h3>
<p class="readableText">The sections below identify the main types of injections that can be found and how to exploit certain scenarios within those injection types.</p>
<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/injectionTypes/errorBased')">Error Based</a></h4>
<p id="errorBased" class="injectionDescription"></p>
<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/injectionTypes/unionBased')">Union Based</a></h4>
<p id="unionBased" class="injectionDescription"></p>
<h4 class="injectionSubheading"><a class="link" onClick="updateRoute('/tab/injectionTypes/blindBased')">Blind Based</a></h4>
<p id="blindBased" class="injectionDescription"></p>
