<ul>
  <li class="n-nav-item n-top-nav-item" id="homeLink">
    <a class="link" onClick="updateRoute('/')">
      <div>Home</div>
    </a>
  </li>
  <li class="n-nav-item n-top-nav-item">
    <a class="link" href="https://www.netspi.com/" target="_blank">
      <div>About Us</div>
    </a>
  </li>
  <li class="n-nav-item n-top-nav-item" id="detectionLink">
    <a class="link" onClick="updateRoute('/detection')">
      <div>Injection Detection</div>
    </a>
  </li>
  <li>
    <ul id="dbmsIdentification">
      <li class="n-nav-item n-top-nav-item" id="dbmsIdentification">
        <a class="link" onClick="updateRoute('/tab/dbmsIdentification')">
          <div>DBMS Identification</div>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <ul id="injectionTypes">
      <li class="n-nav-item n-top-nav-item" id="injectionTypesLink">
        <a class="link" onClick="updateRoute('/injectionTypes')">
          <div>Injection Types</div>
        </a>
      </li>
      <li class="n-nav-item" id="errorBased">
        <a class="link" onClick="updateRoute('/tab/injectionTypes/errorBased')">
          <div>Error Based Injection</div>
        </a>
      </li>
      <li class="n-nav-item" id="unionBased">
        <a class="link" onClick="updateRoute('/tab/injectionTypes/unionBased')">
          <div>Union Based Injection</div>
        </a>
      </li>
      <li class="n-nav-item" id="blindBased">
        <a class="link" onClick="updateRoute('/tab/injectionTypes/blindBased')">
          <div>Blind Based Injection</div>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <ul id="injectionTechniques">
      <li class="n-nav-item n-top-nav-item" id="injectionTechniquesLink">
        <a class="link" onClick="updateRoute('/injectionTechniques')">
          <div>Injection Techniques</div>
        </a>
      </li>
      <li class="n-nav-item" id="conditionalStatements">
        <a class="link" onClick="updateRoute('/tab/injectionTechniques/conditionalStatements')">
          <div>Conditional Statements</div>
        </a>
      </li>
      <li class="n-nav-item" id="injectionPlacement">
        <a class="link" onClick="updateRoute('/tab/injectionTechniques/injectionPlacement')">
          <div>Injection Placement</div>
        </a>
      </li>
      <li class="n-nav-item" id="obfuscation">
        <a class="link" onClick="updateRoute('/tab/injectionTechniques/obfuscation')">
          <div>Injection Obfuscation</div>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <ul id="attackQueries">
      <li class="n-nav-item n-top-nav-item" id="attackQueriesLink">
        <a class="link" onClick="updateRoute('/attackQueries')">
          <div>Attack Queries</div>
        </a>
      </li>
      <li class="n-nav-item" id="informationGathering">
        <a class="link" onClick="updateRoute('/tab/attackQueries/informationGathering')">
          <div>Information Gathering</div>
        </a>
      </li>
      <li class="n-nav-item" id="dataTargeting">
        <a class="link" onClick="updateRoute('/tab/attackQueries/dataTargeting')">
          <div>Data Targeting</div>
        </a>
      </li>
      <li class="n-nav-item" id="privilegeEscalation">
        <a class="link" onClick="updateRoute('/tab/attackQueries/privilegeEscalation')">
          <div>Privilege Escalation</div>
        </a>
      </li>
      <li class="n-nav-item" id="executingOSCommands">
        <a class="link" onClick="updateRoute('/tab/attackQueries/executingOSCommands')">
          <div>Executing OS Commands</div>
        </a>
      </li>
      <li class="n-nav-item" id="readingAndWritingFiles">
        <a class="link" onClick="updateRoute('/tab/attackQueries/readingAndWritingFiles')">
          <div>Reading and Writing Files</div>
        </a>
      </li>
      <li class="n-nav-item" id="lateralMovement">
        <a class="link" onClick="updateRoute('/tab/attackQueries/lateralMovement')">
          <div>Lateral Movement</div>
        </a>
      </li>
      <li class="n-nav-item" id="dataExfiltration">
        <a class="link" onClick="updateRoute('/tab/attackQueries/dataExfiltration')">
          <div>Data Exfiltration</div>
        </a>
      </li>
      <li class="n-nav-item" id="persistence">
        <a class="link" onClick="updateRoute('/tab/attackQueries/persistence')">
          <div>Persistence</div>
        </a>
      </li>
    </ul>
  </li>
  <li>
    <ul id="misc">
      <li class="n-nav-item n-top-nav-item">
        <div>Misc.</div>
      </li>
      <li class="n-nav-item" id="contributorsLink">
        <a class="link" onClick="updateRoute('/contributors')">
          <div>Contributors</div>
        </a>
      </li>
      <li class="n-nav-item" id="references">
        <a class="link" onClick="updateRoute('/tab/misc/references')">
          <div>References</div>
        </a>
      </li>
      <li class="n-nav-item" id="sandboxes">
        <a class="link" onClick="updateRoute('/tab/misc/sandboxes')">
          <div>Sandboxes</div>
        </a>
      </li>
      <li class="n-nav-item" id="tools">
        <a class="link" onClick="updateRoute('/tab/misc/tools')">
          <div>Tools</div>
        </a>
      </li>
    </ul>
  </li>
</ul>
