<ul class="nav nav-tabs" id="injectionTabs">
  <li class="nav-item"><a class="nav-link active" onClick="updateTab('MySQL')" href="#MySQL" role="tab" data-toggle="tab">MySQL</a></li>
  <li class="nav-item"><a class="nav-link" onClick="updateTab('Oracle')" href="#Oracle" role="tab" data-toggle="tab">Oracle</a></li>
  <li class="nav-item"><a class="nav-link" onClick="updateTab('SQLServer')" href="#SQLServer" role="tab" data-toggle="tab">SQL Server</a></li>
</ul>
<div id="injectionTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="MySQL">
    <div class="spinner absoluteSpinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="Oracle">
    <div class="spinner absoluteSpinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="SQLServer">
    <div class="spinner absoluteSpinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>
</div>
