html, body {
  font-family: "NetSPISegoe";
  font-weight: 400;
  min-height: 100%;
  background: white;
  color: #3d3935;
}

@font-face {
  font-family: NetSPISegoeBold;
  src: url(/fonts/segoe-ui-bold.ttf), url(/fonts/segoe-ui-bold.eot?#iefix);
}

@font-face {
  font-family: NetSPISegoe;
  src: url(/fonts/segoe-ui.ttf), url(/fonts/segoe-ui.eot?#iefix);
}

.header {
  text-align: center;
}

code {
  color: black;
  font-family: monospace;
}

ul.noindent {
  padding-left: 20px;
}

#injectionPlaceholder {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.injectionDescription {
  margin-top: 20px;
  font-size: 20px;
}

.readableText {
  margin-top: 20px;
  font-size: 20px;
}

.injectionSubheading {
  margin-top: 20px;
  margin-bottom: 20px;
}

#navButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#homeWrapper {
  font-size: 19px;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px auto;
}

.absoluteSpinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3d3935;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  }
  50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.loadWrapper .loading {
  position: fixed;
  top: 0px;
}

.loadWrapper #imageWrapper {
  height: 100vh;
  width: 300px;
  height: 81px;
  margin-left: auto;
  margin-right: auto;
}

.loadWrapper img {
  margin-top: 40vh;
  width: 300px;
}

.loadWrapper {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: white;
  text-align: center;
}

.fullpage {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
}

.hidden {
  display: none;
}

a {
  cursor: pointer;
  cursor: hand;
}

.injectionHighlight {
  color: rgba(207, 10, 44, 1);
}

#contentContainer {
  overflow: auto;
  display: block;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 90px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-left: auto;
}

.tab-content {
  padding-top: 20px;
}

.table {
  font-family: monospace;
}

pre {
  font-family: monospace;
  background: #eceeef;
  padding: 5px;
}

.table tbody tr td {
  word-break: break-word;
}

.dataPreview {
  display: none;
}

.dataPreview.show {
  display: inline;
}

.dataPreviewLink {
  display: none;
}

.dataPreviewLink.show {
  display: block;
}

.collapseRow {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  padding-bottom: 24px;
}

.collapseRow.open {
  max-height: none;
}

.showMore {
  height: 24px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  color: black;
  padding-right: 5px;
  background: white;
  width: 100%;
  cursor: pointer;
  cursor: hand;
  -webkit-transition: text-decoration .25s ease;
  transition: text-decoration .25s ease;
}

tr td:first-of-type {
  width: 300px;
}


/*Equally space all columns on these tables*/

.threePlusColumnTable tr td {
  width: 1%;
}

tr:nth-of-type(odd) .showMore {
  background: #f9f9f9;
}

tr:hover .showMore {
  background: #f5f5f5;
}

.showMore:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  #contentContainer {
    font-size: 15px;
  }
  tr td:first-of-type {
    width: auto;
  }
}
