#logo {
  width: 50px;
}

.n-navbar {
  width: 0px;
  height: 100%;
  background: #3d3935;
  position: fixed;
  top: 0px;
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "NetSPISegoe";
  color: white;
  font-size: 18px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding-top: 20px;
}

#topBar {
  background: white;
  padding: 10px;
  position: absolute;
  width: 100%;
}

#topBar #logoContainer {
  position: absolute;
  right: 40px;
  cursor: hand;
  cursor: pointer;
}

#topBar #logoContainer img {
  height: 50px;
}

#topBar #logoContainer div {
  text-align: right;
}

.n-parent-nav-item {
  font-size: 20px;
  color: white;
}

.nav-link {
  color: #CE112D;
}

.nav-link:hover {
  color: #3d3935;
}

.n-navbar.active {
  width: 300px;
  overflow-y: auto;
}

.link {}

.link:hover {
  text-decoration: underline;
}


/*When the nav bar is closed let content be full width*/

.n-navbar+#contentContainer {
  width: calc(100%);
}


/*When the nav bar is open, restrict the width of the content container*/

.n-navbar.active+#contentContainer {
  width: calc(100% - 300px);
}

.n-navbar ul {
  -webkit-transition: .5s ease;
  padding-left: 0px;
  width: 300px;
}

.n-navbar .n-nav-item {
  margin-left: -300px;
  -webkit-transition: margin-left .5s ease, padding-left .5s ease, background-color .25s ease;
  transition: margin-left .5s ease, padding-left .5s ease, background-color .25s ease;
  padding-left: 25px;
  width: 275px;
}

.n-navbar .n-parent-nav-item {
  margin-left: -300px;
  padding-left: 25px;
  -webkit-transition: margin-left .5s ease;
  transition: margin-left .5s ease;
}

.n-navbar.active .n-parent-nav-item {
  margin-left: 0px;
}

.n-navbar.active .n-nav-item {
  margin-left: 0px;
  padding-left: 25px;
  width: 275px;
  background: rgba(207, 10, 44, 0);
}

.n-navbar.active .n-nav-item.active {
  width: 275px;
  background: rgba(207, 10, 44, 1);
}

.n-navbar .n-nav-item.active a {
  color: white !important;
}

.n-navbar .n-nav-item.active {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: rgba(207, 10, 44, 1);
}

.n-nav-item a {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /**/
}

img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /**/
}

.n-parent-nav-item {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /**/
}

.n-navbar ul:first-child {
  margin-top: 0px;
}

.n-nav-item a {
  color: #929191;
}

.n-top-nav-item {
  font-size: 20px;
  padding-left: 25px !important;
  margin-top: 10px;
}

.n-top-nav-item a {
  color: white !important;
}

li {
  list-style-type: none;
}

.n-nav-icon span:nth-child(1) {
  top: 0px;
}

.n-nav-icon span:nth-child(2), .n-nav-icon span:nth-child(3) {
  top: 10px;
}

.n-nav-icon span:nth-child(4) {
  top: 20px;
}

.n-nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.n-nav-icon.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}

.n-nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.n-nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.n-nav-icon {
  width: 45px;
  height: 45px;
  position: fixed;
  top: calc(25px/2);
  float: left;
  /*background: rgba(61, 57, 53, .7);*/
  z-index: 5000;
  margin-bottom: 10px;
  left: 0px;
  border-radius: 5px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  cursor: pointer;
}

.n-nav-icon.active {
  left: 300px;
}

.n-nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 27px;
  /*background: white;*/
  background: rgba(61, 57, 53, 1);
  border-radius: 9px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  margin-top: 10px;
  margin-left: 9px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease;
  transition: .25s ease;
}

.mobile {
  display: none;
  height: 0px;
  width: 0px;
}

.noscroll {
  overflow: hidden;
}

@media (max-width: 900px) {
  #topBar {
    text-align: right;
  }
}

@media (max-width: 700px) {
  .n-navbar.active {
    width: 100vw;
    overflow-y: auto;
  }
  .n-nav-icon.active {
    /*Pull it in a bit so the icon doesn't go over any scrollbar*/
    left: calc(85vw - 25px);
  }
  .n-nav-icon.active span {
    background: white;
  }
  .n-navbar li {
    font-size: 20px;
  }
  .n-nav-item {
    width: 400px !important;
    max-width: 95vw;
  }
  /*Don't compress the background content all weird when the nav bar goes full screen*/
  .n-navbar.active+#contentContainer {
    width: 100%;
  }
  .mobile {
    display: block;
  }
}
